.button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 12px;
  color: $color-gray-1;
  background-color: $color-dark-2;
  border: 1px solid $color-dark-2;
  border-radius: 8px;

  &:hover {
    color: $color-dark-2;
    background-color: transparent;
  }

  &:active {
    scale: 1.05;
  }
}
