.field {
  position: relative;

  &:has(&__input:not(:placeholder-shown)) &__label {
    scale: 0.7;
    translate: -1.75em -2.6em;
    color: $color-black;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 17px;
    color: $color-gray-3;
    translate: 0 -50%;
  }

  &__input {
    $fieldInputPaddingX: 16px;
    $fieldSearchInputIconSize: 16px;

    width: 100%;
    height: 40px;
    padding-inline: $fieldInputPaddingX;
    background-color: transparent;
    border: 1px solid $color-gray-2;
    border-radius: 8px;

    &:hover,
    &:focus {
      color: $color-dark-2;
    }

    &:focus {
      background-color: $color-gray-1;
      outline: none;
    }

    &[type="search"] {
      &:placeholder-shown {
        padding-right: calc($fieldInputPaddingX * 2 + fieldSearchInputIconSize);
      }
      background-image: url(../../../public/icons/search.svg);
      background-position: calc(100% - $fieldInputPaddingX) 50%;
      background-size: $fieldSearchInputIconSize;
      background-repeat: no-repeat;
    }
  }
}
