.todo {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 404px;
  min-height: 429px;
  padding: 24px;
  background: $color-white;
  border: 1px solid $color-gray-2;
  border-radius: 8px;
  box-shadow: 0px 4px 4px -4px #0c0c0d0d, 0px 16px 32px -4px #0c0c0d1a;

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: $color-black;
  }

  &__form {
    display: flex;
    column-gap: 16px;
  }

  &__field {
    width: 100%;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    & > * {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.4;
      color: $color-black;
    }

    .todo__delete-all-button {
      &:hover {
        color: $color-gray-4;
      }

      &:not(.is-visible) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__list,
  &__empty-message {
    &:empty {
      display: none;
    }
  }

  &__list {
    $todoListRowGap: 8px;

    display: grid;
    row-gap: $todoListRowGap;
  }

  &__empty-message {
    text-align: center;
    color: $color-gray-4;
  }
}
